.zero-vis{
    opacity: 0;
    visibility: hidden;

}

.fade-in{
    opacity: 1;
    visibility: visible;
    animation-name: fadeInOpacity;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
}

@keyframes fadeInOpacity{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}