@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1.5rem;
    font-family: 'Roboto Mono', monospace;
}

body {
    min-height: 100vh;
    display: flex;
    flex-flow: column nowrap;
}

main {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}

div {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    display: grid;
    place-content: center;
}

div:first-child {
    background-color: dodgerblue;
    /* transform: translateX(50%); */
}

div:nth-child(2) {
    background-color: yellow;
}

div:last-child {
    background-color: lightgreen;
}

div:hover {
    background-color: midnightblue;
    animation: all 2s ease-in-out 0.5s;
}

.animate {
    animation-name: slide; /* 动画名称 */
    animation-duration: 5s; /* 动画持续时间 */
    animation-timing-function: ease-in-out; /* 动画速度曲线。意思是：动画以低速开始和结束。 */
    animation-delay: 1s; /* 动画延迟时间 */
    animation-iteration-count: 5; /* 动画播放次数 */
    animation-direction: alternate; /* 动画方向。意思是：动画在交替方向播放。 */
}

@keyframes slide {
    0% {
        transform: translateX(0); /* transform 属性允许您旋转，缩放，倾斜或平移元素。 */
    }

    33% {
        transform: translateX(600px) rotate(180deg); /*意思是：元素向右移动600px，然后旋转180度。 */
    }

    66% {
        transform: translateX(-600px) rotate(-180deg); /*意思是：元素向左移动600px，然后旋转-180度。 */
    } 

    100% {
        transform: translateX(0);
        background-color: rebeccapurple;

    }

}