* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    padding: 20px;
}

.container {
    max-width: 800px;
    min-height: 400px;
    margin-inline: auto;
    border: 1px solid black;
    color: #fff;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap; /* 表示元素的子元素将水平排列。并且不换行。 */
    align-content: space-evenly; /* 表示元素的子元素将在弹性容器的每行之间平均分布。 */

}

.box {
    /* min-width: 100px; */
    height: 100px;
    background-color: black;
    font-size: 2rem;
    padding: 0.5rem;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1; /* 表示元素的子元素将在必要时缩小。 并且缩小速度是1。 */
    flex-basis: 395px;
}

.box:nth-child(1) {
    background-color: #f1c40f;
}

.box:nth-child(2) {
    flex-shrink: 2; /* 表示元素的子元素将在必要时缩小。 并且缩小速度是2。 */
}