* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(9, 1fr); /* 9 columns：意思是：页面被分成9列，并且每列的宽度相等。 */
    grid-auto-rows: 50px auto 50px;
    grid-template-areas: 
        "hd hd hd hd hd hd hd"
        "mn mn mn mn mn sb sb"
        "ft ft ft ft ft ft ft"; /* 3 rows：意思是：页面被分成3行，并且每行的高度相等。 */
    gap: 1rem;
}

.el {
    background-color: rebeccapurple;
    color: white;
    display: grid; /* 网格布局。意思是：元素的子元素将被放置在一个网格中。 */
    place-content: center; /* 网格布局。意思是：元素的子元素将在网格中居中对齐。 */
}

.header {
    grid-area: hd;
}

.sidebar {
    grid-area: sb;
    background-color: blue;
}

.footer {
    grid-area: ft; /* 通过 grid-area 属性，可以将元素放置到指定的区域。 */
}

.container {
    grid-area: mn;
    min-height: 400px;
    display: grid;
    grid-template-columns: repeat(2, 1fr 2fr); /* 2 columns：意思是：页面被分成2列，并且每列的宽度不相等，分别是1fr和2fr，表示第一列的宽度是第二列的一半。 */
    grid-auto-rows: 150px; 
    gap: 1em;
}

.box {
    background-color: black;
    font-size: 2rem;
    padding: 0.5rem;
    color: #fff;
}

.box:first-child {
    background-color: blue;
    grid-column: 1 / 4; /* 通过 grid-column 属性，可以将元素放置到指定的列。表示元素从第1列到第4列，包括第1列，不包括第4列。 */
    grid-row: 1 / 3; /* 通过 grid-row 属性，可以将元素放置到指定的行。表示元素从第1行到第3行，包括第1行，不包括第3行。 */   

    display: grid;
    place-content: center;
}

.box:nth-child(2) {
    background-color: purple;
    grid-column: 1 / 5;
    grid-row: 3 / 4;
}