* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
}

.nowrap {
    white-space: nowrap;
}

.offscreen {
    position: absolute;
    left: -9999px;
}

body {
    font-family: "fantasy", sans-serif;
    min-height: 100vh;
}


.example {
    margin-top: 1rem;
    padding-left: 20px;
    border: 1px solid red;
}

.example img {
    width: 25%;
    height: auto;
}

.container {
    background-color: rgb(251, 210, 156);
    background-image: url('../img/map-2176x1451.png');
    background-repeat: no-repeat; /* 不重复。意思是：背景图像不重复。 */
    background-size: cover; /* 覆盖。意思是：背景图像尽可能小，但覆盖整个元素。 */
}

.hero {
    border-bottom: 2px solid black;
    padding: 20px;
    display: flex; /* 弹性布局。意思是：元素的子元素将水平排列。 */
    justify-content: flex-start; /* 弹性布局。意思是：元素的子元素将在弹性容器的开头排列。 */
    align-items: center; /* 弹性布局。意思是：元素的子元素将在弹性容器的中心排列。 */
    gap: 30px;
    background-color: hsla(0, 0%, 100%, 0.35); /* hsla(色调, 饱和度, 亮度, 透明度) */
}


.profile-pic-figure {
    width: 35%;
}

.profile-pic-figure img {
    width: 100%;
    height: auto;
    min-width: 100px;
    border: 5px double grey;
    border-radius: 50%;
}

.h1 {
    font-size: 500%;
    color: aliceblue;
    text-shadow: 2px 2px 5px black; /* 水平阴影 垂直阴影 模糊半径 阴影颜色 */
}