* {
    margin: 0;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
    /* 盒模型。常见的值有：content-box（默认值）、border-box。 意思是：元素的宽度和高度包括内容、内边距和边框，但不包括外边距。 */
}

nav {
    border: 2px solid #333;
    border-radius: 2rem;
    margin: 0 auto 1rem;
    max-width: 600px;
    font-size: 3rem;
    line-height: 7rem;
}

h2 {
    padding: 1rem;
    background: gold;
    border-radius: 2rem 2rem 0 0;
}

ul {
    list-style-position: none;
    list-style-type: none;
}

li {
    border-top: 1px solid #333;
}

li a {
    display: block;
}

li a,
li a:visited {
    color: #333;
    text-decoration: none;
    display: block;
    padding: 1rem;
}

ls a:hover,
li a:focus {
    background: #333;
    color: whitesmoke;
    cursor: pointer;
}

li:last-child {
    border-radius: 0 0 2rem 2rem;
}