// 这是一个用来设置 flex 布局的 mixin，其中的 @content 是一个占位符，用来插入其他的样式代码。
@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

// 这段代码是用来设置最小宽度的，其中的 $size 是一个变量，可以根据需要设置不同的值 mq(768px) 或者 mq(1024px)。
@mixin mq($size){
    @media only screen and (min-width: $size){
        @content; // 这里的 @content 是一个占位符，用来插入其他的样式代码。
    }
}


// 这段代码是用来设置最小宽度的，其中的 $size 是一个变量，可以根据需要设置不同的值 mqh(768px) 或者 mqh(1024px)。
@mixin mqh($size) {
    @media only screen and (min-height: $size){
        @content;
    }
}

@mixin mqMaxWMinH($width, $height) {
    // ipad pro 1024 x 1366 & iphone 6/7/8 plus 414 x 736
    @media only screen and (max-width: $width) and (min-height: $height) {
        @content;
    }
}