.currentForecast {
  .currentForecast__location {
    font-size: 1rem;
    font-weight: normal;
    text-align: center;
    margin-bottom: 1rem;
    @include mq(768px) {
      font-size: 1.5rem;
    }
  }

  .currentForecast__conditions {
    width: 100%;
    font-size: 1.1rem;
    margin: auto auto 2rem;
    display: grid; // 这个属性是用来设置元素的布局方式的，这里设置为 grid，表示元素是一个网格容器。
    @include mq(768px) {
      font-size: 1.5rem;
    }

    @include mq(400px) {
      font-size: 1.7rem;
    }

    .temp {
      @include flexCenter;
      grid-row: 1 / span 3; // 这个属性是用来设置元素的行的起始位置和结束位置的，这里设置为 1 / span 3，表示元素从第 1 行开始，占据 3 行。
      grid-column: 1 / span 2; // 这个属性是用来设置元素的列的起始位置和结束位置的，这里设置为 1 / span 2，表示元素从第 1 列开始，占据 2 列。
      letter-spacing: 0;
      text-shadow: 1px 0 5px $text-shadow-color;
      position: relative;
      @include mq(360px) {
        font-size: 8rem;
      }

      @include mq(768px) {
        font-size: 9rem;
      }

      .unit {
        font-size: 1.65rem;
        color: $fadecolor;
        text-shadow: none;
        position: absolute;
        top: 55%;
        left: 85%;
        @include mq(768px) {
          left: 75%;
        }
      }
    }

    .icon {
      @include flexCenter;
      grid-row: 1 / span 1;
      grid-column: 3 / span 2;

      i {
        font-size: 3rem;
        text-shadow: 1px 0 5px $text-shadow-color;
        @include mq(768px) {
          font-size: 4rem;
        }
      }
    }

    .maxtemp {
      @include flexCenter;
      grid-row: 2 / span 1;
      grid-column: 3 / span 2;
    }

    .mintemp {
      @include flexCenter;
      align-self: flex-start;
      grid-row: 3 / span 1;
      grid-column: 3 / span 2;
      color: $fadecolor;
    }

    .desc {
      @include flexCenter;
      grid-row: 4 / span 1;
      grid-column: 1 / span 4;
      padding-top: 0.5rem;
      @include mqMaxWMinH(1024px, 650px) {
        margin-top: 1.5rem;
      }
      @include mqh(1024px) {
        margin-top: 1.5rem;
      }
    }

    .feels {
      @include flexCenter;
      grid-row: 5 / span 1;
      grid-column: 1 / span 4;
      padding-top: 0.5rem;
      font-weight: normal;
    }

    .humidity {
      display: none;
      @include flexCenter;
      grid-row: 6 / span 1;
      grid-column: 1 / span 4;
      padding-top: 0.5rem;
      font-weight: normal;
      color: $fadecolor;

      @include mqMaxWMinH(1024px, 700px) {
        @include flexCenter;
      }

      @include mqh(1080px) {
        @include flexCenter;
      }
    }
  }

  .wind {
    display: none; // 这个属性是用来设置元素的显示方式的，这里设置为 none，表示元素是不可见的。
    grid-row: 7 / span 1;
    grid-column: 1 / span 4;
    padding-top: 0.5rem;
    font-weight: normal;
    color: $fadecolor;
    @include mqMaxWMinH(1024px, 700px) {
      @include flexCenter; 
    }

    @include mqh(1080px) {
      @include flexCenter;
    }
  }
}
