html {
    font-size: 22px;
    font-family:'Times New Roman', Times, serif;
}

body {
    background-color: #333;
    color: whitesmoke;
}

a:visited{
    color: #f0f0f0;
}

a:hover, a:active{
    color: yellowgreen;
}

table,tr, th,td,caption{
    border: 1px solid #f0f0f0;
    border-collapse: collapse; /* 意思是合并边框，也即是相邻单元格的边框合并 */
    padding: 0.5rem;
}